# Auto-request review from the repo owner on every PR.
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
*       @EdvardGK
